#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header_title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#header_navigation_list {
    list-style: none;
    display: flex;
    gap: 50px;
}

#header_navigation_list li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#logout_btn {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 15px;
    background: #0016DF;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
}