#test_card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 350px;
    padding: 10px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#test_card_top {
    display: flex;
    flex-direction: column;
}

#test_card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#test_details {
    text-align: left;
}

#test_card_top_sub_name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#test_card_top_sub_code {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#test_card_top_sub_id {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#test_card_details {
    text-align: left;
}

#test_card_details td {
    padding-left: 10px;
}

#test_card_start_btn {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 15px;
    background: #0016DF;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
}