@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: #F6F6F6;
}